/* universal design starts */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "PT Sans", sans-serif;
}

html, body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "PT Sans", sans-serif;
    overflow-x: hidden;
}



p{
    font-size: 24px;
    font-weight: 300;
    color: #fff;
}

ul{
    list-style-type: none;
}

li{
    float: left;
    list-style: none;
    font-family: "PT Sans", sans-serif;
}

a{
    text-decoration: none;
    transition: 0.5s;
    cursor: pointer;
}

a:hover{
    color: #75E6DA;
    transition: 0.5s;
}

button{
    border-radius: 3px;
    background-color: #189AB4;
    color: #000;
    font-weight: 100;
}

input{
    width: 250px;
    height:35px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    padding-left: 10px;
    outline: 0;
    outline-color: none;
    border: none;
}

i{
    cursor: pointer;
    margin-right: 20px;
}

i:hover{
    color: #189AB4;
}


/* universal design ends */